---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
---

<div class="w-full min-w-0">
  <a href={url} target={target}>
    <div class="card bg-base-100 transition ease-in-out hover:shadow-xl hover:scale-[102%] overflow-hidden">
      <div class="relative">
        {img != null ? (
          typeof img === 'string' ? (
            <img src={img} alt={title} width="750" height="422" class="w-full object-cover" />
          ) : (
            <Image width={750} height={422} format="webp" src={img} alt={title} class="w-full object-cover" />
          )
        ) : (
          <div class="w-full h-[211px] bg-base-200 flex items-center justify-center text-base-content/50" aria-hidden="true">No image</div>
        )}
        {badge && (
          <span class="absolute top-2 right-2 badge badge-secondary badge-sm shadow-md">
            {badge}
          </span>
        )}
      </div>
      <div class="card-body p-4 text-sm">
        <h2 class="card-title text-base">
          {title}
        </h2>
        <p class="text-sm">{desc}</p>
        <div class="card-actions justify-end">
          {tags && tags.map((tag) => <div class="badge badge-outline badge-sm">{tag}</div>)}
        </div>
      </div>
    </div>
  </a>
</div>

